<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>To Do</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div class="container">
    <header>
      <h1 class="header-text">To Do App</h1>
    </header>
    <div id="app" class="app">
      <div v-if="isListMode">
        <div class="item-form">
          <input type="text" class="input-item" v-model="newItem">
          <button class="btn form-btn" @click="addItem">Add</button>
        </div>
        <div class="todo-list">
          <ul>
            <li class="todo-list-item" v-for="(item, id) in items">
              <p class="todo-text">{{ item }}</p>
              <div class="flex-area">
                <button class="btn" @click="editItem(id)">Edit</button>
                <button class="btn" @click="deleteItem(id)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div v-else>
        <h2>Edit</h2>
        <div class="item-form">
          <input type="text" v-model="editTarget.value">
          <button class="btn form-btn" @click="updateItem">Update</button>
          <button class="btn form-btn" @click="cancelEdit">Back</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3.2.22"></script>
  <script src="./js/main.js"></script>
</body>
</html>
